/* navbar */

.logo {
    font-family: 'Snell Roundhand', 'Brush Script', Damion, 'Ceviche One', cursive;
    margin-left: 50px;
}

#navbarNav {
    float: right;
    margin-left: 525px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* main content */

.main-content {
    width: 115%;
}

.comment-date {
    float: left;
    font-family: Calibri, 'Open Sans', 'Alégre Sans', 'Helvetica Neue', sans-serif;
    font-size: inherit;
    font-stretch: extra-condensed;
}

.comments {
    float: right;
}

.posts {
    height: fit-content;
    display: inline-block;
}

.post-four {
    top: -50px;
}

.post-six {
    top: -80px;
}

.post-seven {
    top: -50px;
}

.post-eight {
    top: -80px;
}

.post-nine {
    top: -130px;
}

hr {
    border: 2px dotted;
}

#submit-button {
    margin-left: 50px;
}

/* sub-footer*/

.sub-footer {
    margin-top: 50px;
    background-color: #3C4752;
    min-width: 1200px;
    float: left;
}

.twitter-time {
    color: rgba(77, 180, 206, 0.685);
}

.about-me {
    line-height: 2;
}

.sub-footer-form {
    height: 150px;
}

#submit-button-footer {
    background-color: rgb(22, 116, 153);
    border: none;
}

/* footer */

.footer {
    margin-top: 425px;
    background-color: #353835;
    color: lightslategray;    
    width: 100%;
}

.social-media {
    float: right;
    margin-top: 13px;
    margin-left: 600px;
}